.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px; /* Adjust padding for smaller screens */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.nav {
    display: none; /* Hide navigation links by default */
}

/* Show navigation links when toggled (e.g., hamburger menu) */
.nav.active {
    display: flex;
    flex-direction: column;
    background-color: #080808; /* Adjust background color if needed */
    position: absolute;
    top: 80px; /* Adjust top position to avoid overlapping header */
    left: 0;
    width: 100%;
    padding: 20px;
}

.nav a {
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px; /* Adjust spacing between links */
}
